.fish {
    background: red;
}


.black-card {
    background: #212121;
    color: #fff;
}

.cards {
    display: flex;
    position: relative;
    list-style: none;
    width: calc(100% - 220px);
    padding: 20px 10% 20px 0;
    margin: 0 auto;
} .cards li {
    width: 10%;
    transition: .2s;
} .cards li:hover ~ li {
    transform: translateX(50px);
    transition: .2s;
} .cards li:hover:not(:last-of-type) {
    transform: translateX(-50px);
} .card {
    width: 220px;
    height: 300px;
    box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.14);
    transition: .2s;
} .deck-card:hover {
    box-shadow: 0px 2px 15px 2px #a1ed9e;
    border-color: #a1ed9e;
    transition: .2s;
} .card a {
    height: 100%;
    width: 100%;
    color: #212121;
} .card a:hover {
    text-decoration: none;
}
