.wrapper {
    position: absolute;
    height: 100%;
    width: 100%;
}

#root {
    padding-top: 56px;
    height: 100%;
}

.row {
    max-width: 2000px;
    display: flex;
    justify-content: center;
    margin: 0 auto;
} .row .col {
    display: flex;
    justify-content: center;
    align-items: center;
}



.loading-sprite {
  display: inline-block;
  position: relative;
  width: 60px;
  height: 60px;
}
.loading-sprite div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 40px;
  height: 40px;
  margin: 10px;
  border: 4px solid #e0e0e0;
  border-radius: 50%;
  animation: spin 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #e0e0e0 transparent transparent transparent;
}
.loading-sprite div:nth-child(1) {
  animation-delay: -0.45s;
}
.loading-sprite div:nth-child(2) {
  animation-delay: -0.3s;
}
.loading-sprite div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}


.black-card, .winning-card {
    margin: 10px 0 20px 0;
} .black-card .card, .winning-card .card {
    background: #212121;
    color: #fff;
    font-weight: 600;
    height: 60%;
    min-height: 220px;
    width: 23vh;
    margin: 10px auto;
    box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.14);
} .black-card-btns {
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    max-width: 200px;
} .black-card-btns .btn {
    white-space: nowrap;
} .black-card-btns .btn:nth-child(1) {
    margin-right: 10px;
}

.winning-card .card {
    background: #fff;
    color: #212121;
    margin-left: 10px;
}

#leaderboard {
    list-style: none;
    padding: 0;
    margin: 0;
}

#hand-cards {
    display: flex;
    width: 100%;
    overflow-x: scroll;
    padding: 20px 10px;
    margin: 0;
    list-style: none;
    scrollbar-width: none;
} #hand-cards::-webkit-scrollbar {
    display: none;
} #hand-cards li {
    position: relative;
    min-width: 25vh;
    height: 35vh;
    margin: 0 5px;
} #hand-cards li .hand-card {
    position: relative;
    width: 100%;
    height: 100%;
    box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.14);
    cursor: pointer;
} #hand-cards li .hand-card:hover {
    box-shadow: 0px 2px 15px 2px #a1ed9e;
    border-color: #a1ed9e;
    transition: .2s;
} #hand-cards li.card-spacer {
    min-width: 0;
    color: transparent;
    margin: 0 0 0 10px;
    font-size: 1px;
}

.winning-card {

}

@media only screen and (min-width: 413px) {
    .row {
        height: 50%;
    }
    #hand-cards {
        height: 100%;
    } #hand-cards li {
        min-width: 30vh;
        height: 100%;
    }
}


@media only screen and (min-width: 769px) {

    .black-card {
        height: 75%;
        width: 25vh;
    } #hand-cards {
        padding: 50px 10%;
        align-items: center;
        justify-content: center;
    } #hand-cards li {
        display: flex;
        align-items: center;
        flex-direction: column;
        min-width: 0;
        width: 10vw;
        height: 22vw;
        transition: .2s;
    } #hand-cards li.card-spacer {
        display: none;
    } #hand-cards li:hover ~ li {
        transform: translateX(60%);
        transition: .2s;
    } #hand-cards li:hover:not(:nth-last-child(2)) {
        transform: translateX(-55%);
    } #hand-cards li .hand-card {
        position: relative;
        width: 15vw;
        box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.14);
        transition: .2s;
        cursor: pointer;
    } #hand-cards li .hand-card:hover {
        box-shadow: 0px 2px 15px 2px #c3f7c1;
        border-color: #a1ed9e;
        transition: .2s;
    } .hand-card a {
        height: 100%;
        width: 100%;
        color: #212121;
    } .hand-card a:hover {
        text-decoration: none;
    } .card-body p {
        letter-spacing: 0.4px;
    }
}
